.container {
  width: 75vw;
}

.overflowCount {
  color: #00ccff;
  font-size: 1.4em;
  font-weight: 100;
}
.overflowCountAlert {
  color: OrangeRed;
  font-size: 1.4em;
  font-weight: 100;
}
.flexInner {
  display: flex;
  justify-content: flex-end;
}
.flexOuter li {
  align-items: center;
  display: flex;
}
.flexOuter > li:not(:last-child) {
  margin-bottom: 20px;
}
.flexOuter li textarea {
  border: 1px solid #555;
  font-weight: 100;
  font-size: 1.5em;
  width: 100%;
  min-height: 145px;
  padding: 20px;
  resize: none;
  outline: none;
  background: #1a1a1a;
  color: #ddd;
}
.flexOuter li textarea:hover,  .flexOuter li textarea:focus {
  border: 1px solid #00ccff;
}

.flexOuter li button {
  background: #111;
  border-radius: 0px;
  border: 1px solid #00ccff;
  outline: 0;
  color: #00ccff;
  margin-left: 20px;
  padding: 10px 28px;
  font-weight: 100;
  font-size: 1.5em;
}
.flexOuter li button:active, .flexOuter li button:hover {
  background: #00ccff;
  color: black;
  border: 1px solid #00ccff;
}
.flexOuter li button:active {
  outline: 1px solid #00ccff;
}
.flexOuter li button:focus {
  border: 1px solid #00ccff;
}
.flexOuter li button:disabled {
  color: #555;
  background-color: #222;
  border: 1px solid #111;
}